<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Scholarship</title>
</head>
<body>
<h1>Add Scholarship</h1>
<form action="#" th:action="@{/scholarships}" th:object="${scholarship}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required th:field="*{name}"><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required th:field="*{description}"></textarea><br><br>

    <label for="link">Link:</label>
    <input type="url" id="link" name="link" required th:field="*{link}"><br><br>

    <label for="imageLink">Image Link:</label>
    <input type="url" id="imageLink" name="imageLink" required th:field="*{imagePath}"><br><br>

    <button type="submit">Submit</button>
</form>
<br>
<a href="/scholarships">Back to Scholarships List</a>
</body>
</html>