<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
<h1>Welcome to our website</h1>
<p>Contents of the website:</p>
<a href="/scholarships">Scholarships</a><br>
<a href="/seminars">Seminars</a>

<!--Only shows if the user is logged in-->
<div th:if="${isOwner}">
    <a th:href="@{/profile/{username}(username=${user.username})}" class="btn btn-primary">Visit your profile</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
</body>
</html>
